<%= name %>, what is your location?

<form action = "post_location" method = "post">
    <input type = "text" name = "user_location">
    <input type = "text" name = "user_name_again" value = <%= name %> hidden>
    <input type = "submit">
</form>